repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, perf, refactor, style, test, docs, build, chore, ci]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.10
    hooks:
      - id: ruff-check
        stages: [pre-commit]
        args: [ --fix ]
      - id: ruff-format
        stages: [pre-commit]
